@import "../../../../../variables.scss";

//COLUMNA FILTROS
.section-filter-container {
  background-color: rgba(0, 121, 200, 0.76);
  height: 100%;
  left: 0;
  min-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 170px;
  transition: all 1s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  @media only screen and (max-width: 960px) {
    height: calc(100% + 79px);
    top: 79px;
  }

  .btn-block>.btn {
    margin-top: 4rem;
    width: 100%;
  }

  .form-group {
    margin-top: 1rem;
  }

  .section-filter {
    // width: 25%;
    background: $white;
    max-width: 500px;
    padding: 2rem;
    position: relative;
    width: 34%;
    z-index: 2;

    @media only screen and (max-width: 960px) {
      width: 50%;
    }
    @media only screen and (max-width: 769px) {
      width: 80%;
    }

    .icn-close-filter {
      color: $orange;
      cursor: pointer;
      font-size: 24px;
      width: 24px;
    }
  }

}

.section-filter-container.openFilters {
  opacity: 1;
  visibility: visible;
}

.back-colors {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;

  .container {
    position: relative;
  }

  .white-col {
    background: $white;
    height: 100%;
    min-height: 725px;
    position: absolute;
    width: 40%;
    z-index: 990;

    @media only screen and (max-width: 960px) {
      min-height: 795px;
      width: 50%;
    }
    @media only screen and (max-width: 769px) {
      width: 80%;
    }
  }

  .blue-col {
    height: 100%;
    // min-height: calc(100vh + 160px);
    position: absolute;
    top: 0;
    width: 100%;
    @media only screen and (max-width: 960px) {
      min-height: 795px;
    }
  }
}

.btn-block {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;

  .download-excel {
    color: $orange;
    cursor: pointer;
    font-weight: bold;
    margin-right: 3rem;
    position: relative;
    &:before {
      background-color: $orange;
      bottom: 0;
      content: "";
      height: 2px;
      position: absolute;
      transition: width .3s;
      width: 0;
    }
    &:hover:before {
      width: 100%;
    }
  }
}