@import "../../../../../variables.scss";

.add-doc {
  &-header {
    background-color: $blueBgTable;
    box-shadow: 0 2px 4px 0 $navShadow;
    height: 100px;
    margin-bottom: 4rem;
    @media only screen and (max-width: 720px) {
      height: 80px;
    }
  }

  &-skin {
    margin: 0 -30px;
    @media only screen and (min-width: 1024px) {
      margin: 0 -30% 4rem -30%;
    }
  }

  &-container {
    margin: 3rem auto 0 auto;
  }

  &-item {
    margin-bottom: 4rem;
    padding: 0 0.8rem;
    width: 50%;
    @media only screen and (max-width: 720px) {
      width: 100%;
    }

    .doc-file {
      font-size: 16px;

      &-remove {
        color: $black;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
      }

      &-name {
        padding-right: 1rem;
        word-break: break-all;
      }

      &-clear {
        align-items: center;
        display: flex;
        height: 28px;
        justify-content: flex-end;
        margin-right: -4px;
        width: 30px;
      }

      .icn-quitar {
        color: $black;
        font-size: 24px;
        padding: 2px;
      }
    }

    .blue-sm-label {
      padding-left: 2rem;
    }
  }

  &-zone {
    align-items: center;
    background-color: $blueBg;
    border-radius: 29px;
    box-shadow: 0 2px 4px 0 $inputShadow;
    display: flex;
    font-size: 13px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 300;
    height: 48px;
    padding: 1rem 2rem;
    position: relative;

    &_txt {
      line-height: 1.2;
      padding-right: 1rem;
    }

    .uploader-container {
      cursor: pointer;
      font-size: 0;
      height: 100%;
      margin-left: -1.5rem;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.add-doc-error {
      background-color: $redInvalid;
      border: solid 1px $red;
      box-shadow: 0 2px 4px 0 $requiredShadow;
    }
    .icn-adjuntar {
      cursor: pointer;
      font-size: 2.6rem;
      &:before {
        color: $orange;
      }
    }
  }
}

.top-absolute-line {
  background-color: $orange;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.campo-obl-container {
  font-size: 14px;
  margin-top: 6px;
  position: absolute;
}

.botonera-form-container {
  .btn {
    margin-top: 4rem;
  }
}

.btn-block {
  cursor: pointer;
  .btn-ko {
    display: block;
  }
  .btn-close,
  .icn-close {
    align-items: center;
    background-color: $red;
    border-radius: 50%;
    color: $white;
    display: none;
    height: 32px;
    justify-content: center;
    width: 32px;
    &:before {
      font-size: 24px;
    }
  }
  @media only screen and (max-width: 720px) {
    .btn-ko {
      display: none;
    }
    .btn-close,
    .icn-close {
      display: flex;
    }
  }
}

.text-IE,
.text-no-IE {
  display: none;
}
@media all and (-ms-high-contrast: none) {
  .text-IE {
    display: block;
  } /* IE10 */
  *::-ms-backdrop,
  .text-IE {
    display: block;
  } /* IE11 */
}
/* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
@media all and (-webkit-min-device-pixel-ratio: 0) {
  .text-no-IE {
    display: block;
  }
}

.generate-order {
  &-container {
    width: 50%;
  }
  &-btn {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-left: auto;
    margin-top: 24px;
    & > button {
      height: 43.5px;
    }
  }
}