@import "../../../../../variables.scss";

.tick-check {
  align-items: center;
  display: flex;
  position: relative;
  input {
    cursor: pointer;
    height: 30px;
    opacity: 0;
    position: absolute;
    width: 30px;
  }
  .check-img {
    height: auto;
    width: 28px;
  }
}

.table-container {
  margin-top: 3rem;
  thead {
    th:last-child {
      min-width: 70px;
      padding-right: 20px;
    }
    th:nth-child(5) {
      text-align: right;
    }
  } 
  tbody {
    td:nth-child(5) > .round-border,
    td:last-child > .round-border {
      justify-content: flex-end;
    }
  }
}