//Colores de utilidad
$cyan: #0079c8;
$cyanActivo: #00548C;
$cyanEnlace: #1976d2;
$cyanFocus: #00568f;
$cyan25: #bfddf1;
$cyan50: #7fbce3;
$cyan75: #409bd6;
$blueBg: #dbf1fa;
$blueBgTable: #e5f2f9;
$white: #ffffff;
$generalGrey: #E6E6E6;
$black: #333333;
$blackTable: #212529;
$blackShadow: rgba(0, 0, 0, .3);
$grey: #6c6e71;
$grey25: #dadbdb;
$grey50: #b5b6b8;
$grey65: #979797;
$grey75: #919295;
$greyPlaceHolder: #9e9898;
$backGroundGrey: #f7f7f7;
$navy: #00335b;
$teal: #008385;
$teal25: #bfe0e0;
$teal50: #7fc1c2;
$teal75: #40a2a4;
$burgundy: #942151;
$burgundy25: #e4c7d3;
$burgundy50: #c990a8;
$burgundy75: #af597d;
$green: #007a3d;
$red: #d81e05;
$darkred: #b3220e;
$redInvalid: #fae4e1;
$orange: #fe5000;
$dark-orange: #e94900;
$pink: #c6007e;
$dark-pink: #9c2d6f;
$paginationShadow: rgba(0, 0, 0, 0.25);
$navShadow: rgba(0, 0, 0, 0.15);
$inputShadow: rgba(0, 0, 0, 0.2);
$focusedShadow: rgba(0, 86, 143, 0.4);
$requiredShadow: rgba(216, 30, 5, 0.4);